# Train model

In [1]:
import pandas as pd

train_data = pd.read_csv("data/mnist_train.csv")
train_data.head()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [2]:
import tensorflow as tf

X = train_data.copy()
y = X.pop("label")
y = tf.keras.utils.to_categorical(y, 10)

In [3]:
model = tf.keras.models.Sequential([
  tf.keras.layers.Dense(128, activation='relu'),
  tf.keras.layers.Dense(64, activation='relu'),
  tf.keras.layers.Dense(10)
])
model.compile(
    optimizer = tf.optimizers.Adam(0.001),
    loss=tf.keras.losses.CategoricalCrossentropy(from_logits=True),
    metrics=["accuracy"])

In [4]:
model.fit(
    X,
    y,
    epochs=20)

Epoch 1/20
1875/1875 [==============================] - 3s 2ms/step - loss: 1.2770 - accuracy: 0.8461
Epoch 2/20
1875/1875 [==============================] - 3s 2ms/step - loss: 0.2946 - accuracy: 0.9259
Epoch 3/20
1875/1875 [==============================] - 3s 2ms/step - loss: 0.2035 - accuracy: 0.9448
Epoch 4/20
1875/1875 [==============================] - 3s 2ms/step - loss: 0.1727 - accuracy: 0.9525
Epoch 5/20
1875/1875 [==============================] - 3s 2ms/step - loss: 0.1425 - accuracy: 0.9610
Epoch 6/20
1875/1875 [==============================] - 3s 2ms/step - loss: 0.1275 - accuracy: 0.9658
Epoch 7/20
1875/1875 [==============================] - 3s 2ms/step - loss: 0.1101 - accuracy: 0.9698
Epoch 8/20
1875/1875 [==============================] - 3s 2ms/step - loss: 0.1036 - accuracy: 0.9743
Epoch 9/20
1875/1875 [==============================] - 3s 2ms/step - loss: 0.0930 - accuracy: 0.9759
Epoch 10/20
1875/1875 [==============================] - 3s 2ms/step - loss: 0.0863 - accuracy: 0.9777
Epoch 11/20
1875/1875 [==============================] - 3s 2ms/step - loss: 0.0780 - accuracy: 0.9803
Epoch 12/20
1875/1875 [==============================] - 3s 2ms/step - loss: 0.0787 - accuracy: 0.9798
Epoch 13/20
1875/1875 [==============================] - 3s 2ms/step - loss: 0.0695 - accuracy: 0.9822
Epoch 14/20
1875/1875 [==============================] - 3s 2ms/step - loss: 0.0667 - accuracy: 0.9829
Epoch 15/20
1875/1875 [==============================] - 3s 2ms/step - loss: 0.0651 - accuracy: 0.9837
Epoch 16/20
1875/1875 [==============================] - 3s 2ms/step - loss: 0.0655 - accuracy: 0.9836
Epoch 17/20
1875/1875 [==============================] - 3s 2ms/step - loss: 0.0628 - accuracy: 0.9846
Epoch 18/20
1875/1875 [==============================] - 3s 2ms/step - loss: 0.0562 - accuracy: 0.9860
Epoch 19/20
1875/1875 [==============================] - 3s 2ms/step - loss: 0.0617 - accuracy: 0.9843
Epoch 20/20
1875/1875 [==============================] - 3s 2ms/step - loss: 0.0575 - accuracy: 0.9860

# Predict with generated model

In [6]:
test_data = pd.read_csv("data/mnist_test.csv")
test_data.head(3)

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
X_test = test_data.head(3)
y_test_num = X_test.pop("label")
y_test = tf.keras.utils.to_categorical(y_test_num, 10)

In [13]:
result = model.predict(X_test)

In [15]:
import numpy as np

np.argmax(result, axis=1)

array([7, 2, 1])

In [16]:
y_test_num

0    7
1    2
2    1
Name: label, dtype: int64

# Evaluate

In [17]:
test_data = pd.read_csv("data/mnist_test.csv")
X_test = test_data
y = X_test.pop("label")
y_test = tf.keras.utils.to_categorical(y, 10)

model.evaluate(X_test,  y_test, verbose=2)

313/313 - 0s - loss: 0.1685 - accuracy: 0.9723

[0.1685383915901184, 0.9722999930381775]